#quizpage {
  display:none;
  align-items: center;
  justify-content: center;
  flex-direction:column;
  background: #FFEFBA;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#second-page {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction:column;
}

#intropage{
  display: flex;
  flex-direction:column;
}

#correctbox{
  display: none;
  flex-direction:column;
}

#body{
  display: none;
  flex-direction:column;
}

#congratspage{
  display: none;
}

#fail-page{
  display: none;
}