#box2 {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display:flex;
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius:10%;
    width:70%;
}

#option1 {
    background-color:skyblue;
    border-radius: 50%;
    color:black;
    font-size:15px;
    margin:3%;
    
}

#option2 {
    background-color:skyblue;
    border-radius: 50%;
    color:black;
    font-size:15px;
    margin:3%;
    
}

#option3 {
    background-color:skyblue;
    border-radius: 50%;
    color:black;
    font-size:15px;
    margin:3%;
    
}

.buttonorganizer {
    flex-direction: row;
    display:flex;
    margin:5%;
}

.text_def {
    margin-left:8%;
    margin-right:8%;
}

#title {
    margin:5%;
    text-align: center;
    
}

#fallacies {
    margin-bottom:5%;
}