#box1 {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius:20px;
    width:70%;
   
   
}

#q1 {
    margin:8%;
    font-size: 20px;
}
