#box1 {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color:lightcyan;
    border-radius:20px;
    width:50%;
   
   
}

#q1 {
    margin:8%;
}
