#correctbox {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
    justify-content: center;
    align-items: center;
    display: flex;
}

#correct1 {
    font-family: 'Kreon', serif;
    text-align: center;
    font-size: 25pt;
}

#correct2 {
    text-align: center;
    font-size: 13pt;
    margin: 5%;
    padding: 15px;
    font-family: 'Times New Roman', serif;
}

#yellow {
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
    border-radius:40px;
}

#owl {
    position: absolute;
    left: 10%;
    top: 5%;
    height: 20%;
    width: auto;
}


#words-in-correct-box {
    max-width: 90%;
    max-height: 90%;
}