.second-page {
    height: 100vh;
    width: 100vw;
    background-color: blue;
}


.first-two-items{
    display: flex;
    height: 60%;
    width: 70%;
    flex-direction: row;
}

    
button {
    height: 70px;
    width: 150px;
    border-radius: 50px;
    font-family: 'Kreon', serif;
    font-size: 18px;
    background-color: white;
    position: absolute;
    right: 50px;
    bottom: 10px
    

}
#owl1 {
    display: flex;
    width: 120%;
    height: auto;
    left: 50px;
    top: 80px;
    margin-right: 20px;
}

#speech-bubble-img{
    width: 60%;
    height: auto;
    right: 70px;
    top: 100px;
}

